// font 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/delmon-delicate');
@import url('https://fonts.cdnfonts.com/css/microsoft-yahei');

$primary-sea-color: #79A2AA;
$primary-brown-color: #625956;
$primary-black-color: #18181B;

$secondary-yellow-color: #FFD075;
$secondary-orange-color: #F89426;
$secondary-beige-color: #F9F6F0;
$secondary-white-color: #FFFDFA;
$secondary-grey-color: #DCDDDE;
$secondary-light-grey-color: #F4F4F4;

$success-color:#54AF91;
$fail-color:#EA5F5F;
$dark-grey: #66686A;
$link-color:#3388CC;

@mixin main-font{
    font-family: Montserrat !important;
}

@mixin small-title {
    font-size: 6px !important;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.15em;
    text-align: right;    
}

@mixin header {
    font-family: Montserrat;
    font-size: 18px !important;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
}

@mixin sub-header{
    font-family: Delmon Delicate !important;
    font-size: 20px !important;
    font-weight: 400;
}

@mixin body-text{
    font-family: Montserrat;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 26px;
}

@mixin caption{
    font-family: Montserrat;
    font-size: 14px !important;
    font-weight: 300;
    line-height: 17px;
}

@mixin title{
    font-family: Montserrat;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 17px;
}

@mixin button{
    border: none !important;
    padding: 0.8rem 1.5rem;
	background-color: $secondary-orange-color !important;
    border-radius: 0 !important;
    text-transform: uppercase;
}

@mixin black-text{
    color: $primary-black-color !important;
}

@mixin hover-underline{
    background-color: transparent !important;
    text-decoration: underline;
    transition: 0.3s;
    text-underline-offset: 4px;
}
@mixin border{
    border: 1px solid $secondary-grey-color !important;
}

@mixin input{
    @include black-text;
    @include body-text;
    border: 1px solid $secondary-grey-color;
    background-color: white;
    padding: 8px 15px;
}

*{
    @include main-font();
    margin: 0;
    padding: 0;
}

body{
    background-color: #f9f9f9;
}

button.ui-state-default{
    .span.ui-button-text.ui-c{
        color: white !important;
    }
}

// general 
html .ui-button-text{
    @include main-font();
    @include black-text();
    letter-spacing: 0.15em;
    font-weight: 400 !important;
}

html .ui-corner-all{
border-radius: 0 !important;
}

.ui-button {
    padding: 0.5rem 1rem;
}

// icon
.fa-edit:before, 
.fa-pencil-square-o:before,
.fa-trash-o::before,
.fa-info-circle:before,
.fa-arrow-left:before {
    font-family: FontAwesome;
}

.fa-arrow-left:before{
    @include black-text();
    font-weight: 400;
}

/* begin top menu section */
div#orderForm\:wzd_content,
div#orderForm\:prtcatpnl,
div#orderForm\:slctpdtpnl,
div#orderForm\:chdcatpnl,
div#orderForm\:bskpgtop{
    margin-top: 4rem !important;
}

// selection
.ui-btn-right{
    label{
        @include body-text();
    }
}
.ui-selectonemenu-items-wrapper{
    line-height: 26px !important;

    ul{
        li{
            @include body-text();

            &::hover{
                @include hover-underline();
                background-color: transparent !important;
            }
        }
        
    }
}

.vc-chip-container .ui-button.ui-widget.chip{
    padding: 0.5rem 1rem;
}

form#locform{
    .ui-btn-right{
        td{
            margin-left: 1rem;
        }
    }
}

html .ui-widget-content .ui-state-highlight{
    color: $primary-black-color !important
}

.ui-selectonemenu-trigger{
    padding: 0 !important;
    .ui-icon{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.ui-selectonemenu.ui-widget.ui-state-focus{
    border: 1px solid $secondary-orange-color !important;
}

html .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon{
    margin: 0 !important;
}


.ui-widget-content .ui-state-highlight{
    @include body-text();
    background-color: transparent !important;
    text-underline-offset: 4px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: $secondary-orange-color;
}
html .vc-chip-container .chip {
    @include body-text();
}

.chip.selected{
    > span{
        color: white !important;
    }
}

.ui-button.ui-widget.ui-state-default {
    background:$secondary-orange-color !important;
    color: white !important;
}

.vc-chip-container .chip {
    @include body-text();  

    > .ui-button-text{
        font-weight: 400!important;
    }
}
/* end top menu section */


/* begin menu section */

// category
.rb-vendor-text, 
.rb-parent-cat-text,
.rb-child-cat-text,
.rb-prod-panel-text,
.rb-basket-title{
    @include sub-header();
    @include black-text();
    font-size: 22px !important;
}

.rb-vendor-title:before, .rb-prod-title:before, .rb-parent-cat-title:before, .rb-child-cat-title:before{
    @include black-text();
    @include body-text();
    line-height: 0 !important;
}


html[lang="en"] #orderForm:vndcat button{
    @include button();
    @include border;
}
/* end menu section */

/* begin list section */

.flex-item {
    box-sizing: content-box;
    padding: 0 !important;

    label{
        @include body-text();
        font-weight: 500 !important;
    }

    img{
        border-radius: 0 !important;
    }
}

html .rb-h-selwrapper {
    height: auto !important;
}

.flex-item > .ui-inputfield, .flex-item > .ui-selectonemenu{
    margin-bottom: 10px !important;
}

.flex-item > .ui-selectonemenu{
    width: calc(200px - 34px) !important;
}

.flex-item > div#orderForm\:countrynew.ui-selectonemenu {
    width: calc(200px - 24px) !important;
}

.rb-vendor-description label,
.rb-child-cat-description,
.rb-child-cat-desc,
.rb-parent-cat-desc,
.has-request-msg{
    @include caption();
    font-weight: 400!important;
}

.rb-prod-desc-item:nth-child(2) label{
    @include body-text();
    font-weight: 400!important;
    line-height: 26px;
}

.rb-child-cat-item {
    max-width: none !important;
}

// choose item-active
.rb-vendor-container .rb-vendor-sel a img, 
.rb-vendor-container .rb-vendor-sel .rb-cat-box a, 
.rb-parent-cat-container .rb-parent-cat-sel a img, 
.rb-parent-cat-container .rb-parent-cat-sel .rb-cat-box a, 
.rb-child-cat-container .rb-child-cat-sel a img, 
.rb-child-cat-container .rb-child-cat-sel .rb-cat-box a{
    box-shadow: 0 0 0px 4px $secondary-grey-color !important;
}


// choose product item
img[id*="pdtimg"] {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.rb-prod-item-panel >.ui-panel-content.ui-widget-content{
    @include border;
    background-color: $secondary-white-color;
    border-radius: 0 !important;
    box-shadow: none !important;
    
    .rb-prod-desc-item{
       
        line-height: 26px;

        &:first-child{
            label{
                @include header();
                font {
                    font-family: Delmon Delicate !important;
                }
            }
        }

        button{
            background-color: $secondary-orange-color !important;
            border: none;
            padding: 13.5px 20px !important;
            font-weight: 400!important;

            span{
                @include caption;
            }
        }
        span.ui-button-text.ui-c{
            padding: 0 !important;
        }
    }
}

.rb-scroll-top-panel .ui-panel-content{
    @include caption();
    background-color: white !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 0.5rem !important;
}

label#orderForm\:scrolltop{
    @include title();
    @include black-text();
}
/* end list section */

/* begin cart section */
//list
html #orderForm\:itemdtbsk_data tr.ui-widget-content>td:nth-child(1){
    padding-top: 2rem !important;
}

div#orderForm\:itemdtbsk{
    @include border;
    margin-top: 2rem;
    box-shadow: none !important;

    thead{
       

        .ui-state-default{
            padding: 1.6rem 1rem;
            background-color: $secondary-grey-color !important;
            

            .ui-column-title{
                @include black-text();
                @include title(); 
                font-weight: 500;
                text-transform: uppercase;
                line-height: 19px;
                letter-spacing: 0.15em;
            }
        }
        
    }

    tbody{
        td{
            padding: 2rem 1rem !important;

            label[id$=":itempdt"]{
                @include title;
                border-radius: 0!important;
                text-transform: uppercase;
            }

            .item, label{
                font-size: 15px;
                @include main-font();
                font-weight: 500!important;

            }
        }
    }
}


table tbody tr:nth-child(odd) td, table tbody tr:nth-child(odd) td{
    background: $secondary-light-grey-color !important;
}
table tbody tr:nth-child(even) td, table tbody tr:nth-child(even) td{
    background: $secondary-grey-color !important;
}

// checkout

input#orderForm\:disCode{
   @include input();
   min-width: 150px;
}
::placeholder {
    @include body-text;
}

div#orderForm\:bskpnl_footer{
    @include header;
}

button#orderForm\:apply,
button#orderForm\:next{
    @include button();
    @include caption();

    span{
        padding: 0 !important;
    }
}

.rb-body-content {
    padding-bottom: 0 !important; 
}
/* ennd cart section */

/* begin dialog section */
.ui-dialog-buttonpane{
    button{
        border: none !important;
        padding: .3em 0 0.3em 0.5em;

        .ui-button-text.ui-c{
            background-color: $secondary-orange-color;
            color: white !important;
        }
        
    }
}

div#orderForm\:butpg{
    background: transparent !important;

    button#orderForm\:confirmedititem,
    button#orderForm\:canceledititem{
        @include button();
    }
}

form#orderForm,
div#confirmdlg{
    display: flex;
    justify-content: center;
    // align-items: center;

    .ui-confirm-dialog-message{
        @include body-text();
    }

    .ui-dialog-content.ui-widget-content{
        padding: 1.2em !important;
    }

    .ui-dialog{
        left: auto !important;
        top: 50% !important;
        transform: translateY(-50%);
    }

    .ui-dialog-content{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // header
    .ui-dialog-titlebar{
        background-color: $secondary-grey-color !important;
        padding: 0.8rem calc(1rem - 1px) 0.8rem 1rem !important;
        border-bottom: 0!important;

        .ui-dialog-title{
            @include black-text();
            margin: 0 !important;
        }
    }

    button#orderForm\:gcontshop{

        .fa-arrow-left{
            transform: translateY(-50%);
            margin: 0 !important;
            height: auto !important;
        }
    }
}



// warning + success + error messages
.ui-growl{
    left: 50%;
    transform: translateX(-50%) !important;
}

.ui-state-error{
    background-color: $fail-color;
}

.ui-growl-info{
    background-color: $success-color;
}
.ui-growl-item-container{
    opacity: 1;
}

.ui-growl-info, .ui-messages .ui-messages-info, .ui-message.ui-message-info{
    border: none !important;
    box-shadow: none !important;
}

.ui-growl-item{
    display: flex;
    align-items: center;
}

.ui-growl-message{
    padding: 0 0 0 0.5rem !important;

    span{
        padding: 0 !important;
    }

    p{
        @include caption();
        @include black-text();
        font-weight: 500;
    }
}

.rb-prod-dialog-but{
    margin-top: 2rem;
    background-color: $secondary-orange-color;
    padding: 13px 0 !important; 

    #orderForm\:butpg{
        padding: 0 !important; 
    }

    .button#orderForm\:addbtn{
        padding: 0 !important;
    }

    .ui-button-text{
        @include title();
        @include black-text();
        padding: 0 !important;
        background-color: $secondary-orange-color;
        font-weight: 400 !important;
    }

    .ui-button.ui-widget.ui-state-default{
        background-color: $secondary-orange-color !important;
        border: 0;
    }
}


// form

.flex-option{
    padding: 4px 0 !important;

    label{
        @include caption();
    }

    input, 
    .ui-selectonemenu,
    input#orderForm\:stdtcal_input{
        @include border;
        caret-color: $primary-black-color;
    }

    .rb-prod-gross-value,
    span,
    input{
        @include caption();
        @include black-text();
        font-weight: 400 !important;
    }
}

div#orderForm\:addbskpg{
    margin: 0;
}

/* end dialog section */

.orderForm:chdcatpnl{
    margin-top: 4rem !important;
}

@media (max-width: 820px){
    #orderForm\:orderNav {
        text-align: right !important;
    }
}

@media (max-width: 640px){
    // form#orderForm{
    //     .ui-dialog{
    //         width: 90vw !important;
    //     }

    // }

    .flex-option{
        padding: 8px 4px;
    }
    
}

// calendar
html .ui-datepicker{
    box-shadow: 2px 2px 4px 0px #00000021;

    tbody {
        background: white;
    }
    
    table tbody tr:nth-child(odd) td, 
    table tbody tr:nth-child(odd) td, 
    table tbody tr:nth-child(even) td, 
    table tbody tr:nth-child(even) td{
        background: white !important;
    }

    th{
        @include black-text();
        @include body-text();
        background: white !important;
        text-shadow: none!important;
        background-color: white !important;
        box-shadow: none!important;
        border: none !important;
    }

    td.ui-datepicker-week-end.ui-datepicker-days-cell-over.undefined.ui-datepicker-current-day:has(a.ui-state-active){
        background-color: $secondary-orange-color !important;
    }

    .ui-state-default{
        @include body-text();
        @include black-text();
        font-weight: 400!important;
        background: transparent !important;
        box-shadow: none !important;
    }
}

// #ui-datepicker-div{
//     border: 0 !important;

//     .ui-datepicker-header{
//         background-color: $secondary-orange-color !important;
//         border: none !important;

//         .ui-datepicker-title{
//             > select{
//                 @include body-text();
//             }
//         }
//     }
// }

/*=================== SIGN IN PAGE ===================*/
.ui-button-text-icon-left .ui-button-text {
    padding: 0 1em 0 1em;
}
.ui-button-text-only .ui-button-text{
    padding: 0 !important;
}
label#orderForm\:existglbl,
label#orderForm\:newguestlbl{
    @include sub-header();
}

label#orderForm\:newguesttxt,
label#orderForm\:signintxt{
    @include caption();
}

button#orderForm\:ngbut,
button#orderForm\:sendvercode,
button#orderForm\:gcontshop{
    @include button;
    @include caption();
}

button#orderForm\:gcontshop {
    padding: 1rem 0 1rem 1rem !important;
    
    .ui-button-text-icon-left .ui-button-text {
        padding: 0.3em 1em;
    }
}

.rb-or{
    @include caption;
}


div#orderForm\:vercodepg{

    input{
        @include input();
    }

    button#orderForm\:sendvercode{
        margin-top: 0.5rem;
    }   
}

div#orderForm\:newguestpg{
    .flex-item{
        input, .ui-selectonemenu{
            margin-left: 2rem;
            @include input();
        }
    }
}

.ui-selectonemenu{
    padding-right: 1em !important;

    &.ui-state-error{
        border: 1px solid $fail-color !important;
    }

    .ui-selectonemenu-label{
        width: auto!important;
    }
}

.ui-inputfield{

    &.ui-state-error{
        border: 1px solid $fail-color !important;
    }
   
    &.ui-state-focus{
        border: 1px solid $secondary-orange-color !important;
        box-shadow: none !important;
    }
}

@media screen and (max-width: 480px) {    
    .ui-dialog-buttonpane{
        button#cdYes, button#cdNo{
            padding-right: 0 !important;

            .ui-button-text.ui-c{
                background-color: $secondary-orange-color;
                color: white !important;
            }
            
        }
    }

    .rb-prod-dialog-but{
        padding: 0 !important;
    }

    .rb-new-guest-form{

        .flex-container{

            .flex-item{


                >div, >input{
                    margin-left: 0rem !important;
                }
            }

        }
    }
}

// device  break layout
@media screen and (max-width: 640px){

    div#orderForm\:itemdtbsk tbody td{
        // display: contents !important;

        // span.ui-column-title{
        //     display: block;
        // }

        // > label{
        //     display: flex !important;
        //     width: fit-content !important;
        //     margin: auto;
        // }
    }

   
}
