@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:400,700&display=swap');

.rb-body-content {
	margin: auto !important;
}

.ui-wizard-nav-next, .ui-wizard-nav-back {
	display: none !important;
}
.flex-container {
	display: flex;
	flex-flow: row wrap;
}
.rb-basket-panel > .ui-widget-header {
	text-align: center;
}
.rb-text-left {
	text-align: left;
}
.rb-text-right {
	text-align: right;
}
.rb-text-center {
	text-align: center;
}
.rb-order02-dt thead th, .rb-order02-dt tbody, .rb-order02-dt tbody td,
.rb-order02-dt tbody tr, .ui-datagrid>div {
	border: none !important;
}
.ui-datatable-summaryrow {
	background: none;
}
.ui-datagrid div {
	background: none;
}
#orderForm {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

.rb-cat-box {
	border: 2px solid #A8A8A8;
	border-radius: 8px;
	width: 150px;
}
.rb-cat-box-nm {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	cursor: pointer;
}
.rb-prod-box {
	border: 2px solid #A8A8A8;
	border-radius: 8px;
	width: 150px;
}
.rb-prod-box-nm {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.ui-growl {
	z-index: 2000 !important;
}
.ui-dialog:not(#ajaxLoader) {
	max-height: 90% !important;
	overflow: auto !important;
}
.ui-dialog .ui-dialog-footer {
	border: none;
}
@media screen and (max-width: 425px) {
	.ui-dialog:not(#ajaxLoader) {
	min-width: 90%;
	}
}
.rb-confirm-dialog {
	overflow: hidden !important;
}

/* --- Main02 --- */

* {
  font-family: "Open Sans", sans-serif;
}

label {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.rb-header {
  margin: 0 auto;
  background-color: #3399cc;
  /* border-bottom: 1em solid #375d9d; */
}

.rb-header-title {
  color: white;
  font-size: 1.4em;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

html, body {
  height: 100vh !important;
  min-height: 100vh !important;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

#orderForm\:prtcatpnl_content.ui-widget-content {
  background-color: #f9f9f9;
}

/* Flash fix */
.ui-widget-content {
  background-color: #f9f9f9;
}

/* Table colours */
.ui-datatable-even {
 background-color:#fff;
}
.ui-datatable-odd {
 background-color:#fafafb;
}

/* Buttons */
.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default,
button.ui-button.ui-state-hover, .ui-button.ui-state-hover, button.ui-button.ui-state-focus, .ui-button.ui-state-focus,
button.ui-button.ui-state-active, .ui-button.ui-state-active {
  border: 1px solid #2399e5;
}

/* Page Body */
.rb-body-content {
  margin: auto;
  max-width: 1200px;
  background-color: #f9f9f9;
}

.ui-panel {
  border: none;
}

.ui-wizard-content {
  margin: 0, 1em;
}

/* General Panel */
.ui-panel .ui-panel-content {
  padding: 1em !important;
  background-color: #f9f9f9;
}

/* Titles */
.rb-vendor-title,
.rb-parent-cat-title,
.rb-prod-title,
.rb-basket-title-pg,
.rb-checkout-title, .rb-child-cat-title,
#orderForm\:snslbl, #orderForm\:existglbl, #orderForm\:newguestlbl {
  font-size: 1.4em;
  font-weight: 700;
  color: #2399e5;
}

.rb-vendor-title:before,
.rb-prod-title:before,
.rb-parent-cat-title:before,
.rb-child-cat-title:before {
  content: "\f0ab";
  margin-right: 10px;
  font-family: "FontAwesome" !important;
}

.rb-checkout-title:before {
  content: "\f291";
  margin-right: 10px;
  font-family: "FontAwesome" !important;
}

/* Sign In / Sign up Labels */
#orderForm\:snslbl:before {
	content: "\f090";
	margin-right: 10px;
	font-family: "FontAwesome" !important;
	font-weight: normal;
}
#orderForm\:existglbl:before {
	content: "\f090";
	margin-right: 10px;
	font-family: "FontAwesome" !important;
	font-weight: normal;
}
#orderForm\:newguestlbl:before {
	content: "\f234";
	margin-right: 10px;
	font-family: "FontAwesome" !important;
	font-weight: normal;
}

/* Descriptions */
.rb-vendor-desc,
.rb-parent-cat-desc,
.rb-child-cat-desc,
.rb-warn-guest-booking-today-msg {
  color: #777;
  font-size: 90%;
}
.rb-vendor-description,
.rb-parent-cat-description,
.rb-child-cat-description {
  max-width: 900px;
  margin: auto;
}

/* --- Parent Category --- */
#orderForm\:prtcatpnl_content,
#orderForm\:chdcatpnl_content {
  padding-bottom: 0;
}

/* Vendor Container */
.flex-item.rb-vendor-item {
  padding: 20px !important;
}

/* Parent Category Container */
.flex-item.rb-parent-cat-item {
  padding: 20px !important;
}

/* Vendor/Category Images */
.rb-vendor-container img,
.rb-parent-cat-container img,
.rb-child-cat-container img {
  margin-bottom: 4px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 150px;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

/* Image Placeholders */
.rb-cat-box {
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

/* Vendor/Category Labels */
.rb-vendor-container label,
.rb-parent-cat-container label,
.rb-child-cat-container label {
  font-size: 90%;
  font-weight: normal;
}

.rb-vendor-container,
.rb-parent-cat-container,
.rb-child-cat-container {
  padding-bottom: 1em !important;
}

#orderForm\:vndpnl > #orderForm\:vndpnl_content > .rb-vendor-container > .rb-vendor-item > div > .rb-cat-box > a {
	width: 200px !important;
}

/* Vendor/Category Image Selected*/
.rb-vendor-container .rb-vendor-sel a img,
.rb-vendor-container .rb-vendor-sel .rb-cat-box a,
.rb-parent-cat-container .rb-parent-cat-sel a img,
.rb-parent-cat-container .rb-parent-cat-sel .rb-cat-box a,
.rb-child-cat-container .rb-child-cat-sel a img,
.rb-child-cat-container .rb-child-cat-sel .rb-cat-box a {
  -webkit-box-shadow: 0 0 0px 6px rgba(51, 153, 204, 1);
          box-shadow: 0 0 0px 6px rgba(51, 153, 204, 1);
  border-radius: 5px;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

/* Vendor/Category Labels Selected */
.rb-vendor-container .rb-vendor-sel label,
.rb-parent-cat-container .rb-parent-cat-sel label,
.rb-child-cat-container .rb-child-cat-sel label {
  font-size: 90%;
  font-weight: normal;
}

/* --- Child Category --- */
.rb-child-cat-container {
  padding: 12px;
}

/* Vendor/Category Label Spacing */
.rb-vendor-container .rb-cat-box,
.rb-child-cat-container .rb-cat-box,
.rb-parent-cat-container .rb-cat-box {
  margin-bottom: 8px;
}

/* --- Product Cards --- */
/* No img default */
div [id*="pdtnoimgpg"],
.rb-prod-box>div {
  width: 200px !important;
  text-align: center !important;
  background-color: #ddd !important;
  border: none;
  border-radius: 5px;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

/* Product Card Back */
.rb-prod-item-panel {
  margin: 20px auto !important;
  max-width: 900px;
}

/* Product Card Front */
.rb-prod-item-panel>.ui-panel-content.ui-widget-content {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #eee;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

/*.rb-prod-item-panel:nth-of-type(even) > .ui-panel-content.ui-widget-content {
    background-color: rgba(0, 0, 0,0.15);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
        border: 1px solid #aaa;
}*/
.rb-prod-desc-item:nth-child(2) label {
  font-weight: 300 !important;
  letter-spacing: normal;
  color: #666 !important;
}

/* Item title */
.rb-prod-desc-container .rb-prod-desc-item:nth-child(1) {
  font-size: 110%;
  margin-bottom: 12px;
  color: #333;
}

/* Product description */
.rb-prod-desc-container .rb-prod-desc-item:nth-child(2) {
  font-size: 90%;
  margin-bottom: 20px;
  min-height: 82px;
}

/* Panel Relative */
#orderForm\:slctpdtpnl_content .ui-grid-row>div:nth-child(2) {
  position: relative;
  max-height: 300px;
}

/* Small size float */
@media(max-width:640px) {
  #orderForm\:slctpdtpnl_content .ui-grid-row>div:nth-child(2) {
    position: unset;
  }

  .rb-prod-desc-container>.rb-prod-desc-item:nth-child(3) {
    float: left;
  }

  .rb-prod-desc-container>.rb-prod-desc-item {
    width: 100%;
  }

  [id*="pdtbtn"] {
    width: 100%;
  }

  .rb-prod-box {
    margin: 0 auto 8px;
  }
}

/* Full Product Picture Sizing */
#orderForm\:slctpdtpnl_content .ui-grid-row>div:nth-child(1) div:nth-child(1) img {
  border-radius: 5px;
  max-width: 200px;
}

@media(min-width: 640px) {

  /* Product card images */
  #orderForm\:slctpdtpnl_content .ui-grid-row>div:nth-child(1) div:nth-child(1) {
    text-align: left;
    padding-right: 0.5em !important;
  }

  /* Allow Product text to extend to edge */
  #orderForm\:slctpdtpnl_content .ui-grid-row>div:nth-child(2) {
    padding-right: 0.5em;
  }

  /* Align Product title/text */
  .rb-prod-desc-container .rb-prod-desc-item:nth-child(1),
  .rb-prod-desc-container .rb-prod-desc-item:nth-child(2) {
    text-align: left !important;
  }

  /* Product pane; left */
.rb-prod-item-panel > div > div > div > div:nth-child(1) > div:nth-child(1) {
    min-width: 230px;
    flex: 0 0 25%;
  }

  /* Product panel right */
.rb-prod-item-panel > div > div > div > div:nth-child(1) > div:nth-child(2) {
   min-width: 300px; 
   flex: 1 0 auto;
  }

  /* Change /* Choose Dates Space Before */
  .rb-prod-desc-container .rb-prod-desc-item:nth-child(2) {
    margin-bottom: 1em !important;
  }

  /* Space after Choose Dates button */
  .rb-prod-desc-container .rb-prod-desc-item:nth-child(3) {
    margin-bottom: 0;
  }

  /* Product card edge padding */
  [id*="orderForm\:pdtrpt"].ui-panel .ui-widget-content {
    padding-right:4px;
    padding-left: 6px;
  }

  /* Button Positioning */
  .rb-prod-desc-container>.rb-prod-desc-item:nth-child(3) {
    position: relative;
    margin-top: -10px;
    right: 0px;
    bottom: 0px;
    text-align: right;
  }
}

@media(min-width: 920px) {

  /* Product pane; left */
  #orderForm\:slctpdtpnl .ui-grid-row .ui-grid-col-6:nth-child(1) {
    width: 40%;
    min-width: 230px;
  }

  /* Product panel right */
  #orderForm\:slctpdtpnl .ui-grid-row .ui-grid-col-6:nth-child(2) {
    min-width: 300px;
  }
}

/* Scroll Settings */
.rb-scroll-top-panel {
  background-color: #f9f9f9;
}

.rb-scroll-top-panel label {
  font-size: .75em;
  color: #777;
  font-weight: normal;
  letter-spacing: 0.02em;
}

.rb-scroll-top-panel .ui-panel-content {
  max-width: 892px !important;
  margin: auto !important;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1) !important;
  border: 1px solid #ddd !important;
  border-radius: 5px !important;
  background-color: #eee !important;
  padding: 0.2em 0.2em 0.5em !important;
  -webkit-transition: ease-in-out 0.2s !important;
  transition: ease-in-out 0.2s !important;
}

.rb-scroll-top-panel .ui-panel-content:hover {
  background-color: #eaeaea !important;
}

/* Scroll icon */
#orderForm\:scrolltop:after {
    content: "\f148";
    font-family: "FontAwesome" !important;
    margin-left: 5px;
    font-weight: normal;
}

img[id*="pdtimg"] {
  max-width: 200px !important;
  border-radius: 2px;
}

/* Dropdown icon */
.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    margin-top: 50% !important;
}

/* --- Add Product --- */
/* Dialogue Header */
.ui-dialog .ui-dialog-titlebar {
  margin: 0 !important;
  padding-right: 5px !important;
  border-bottom: 6px solid rgb(35, 153, 229) !important;
}

/* Dialogue title */
.ui-dialog .ui-dialog-title {
  color: #fff
}

/* Dialogue Extra space
.ui-dialog-content {
  margin-top: .5em;
}*/

/* Center Dialogue */
#orderForm\:addbskpg {
  margin: auto;
}

/* Dialogue Background colour */
.ui-dialog-content.ui-widget-content {
  background-color: #fff;
}

.ui-dialog .ui-widget-header {
  background-color: rgb(35, 153, 229) !important;
}

/* Cal input size */
#orderForm\:stdtcal_input {
  padding: 5px;
  /* max-width: 200px; */
  margin: auto;
}

/* Margin after labels
#orderForm\:addbskpg [id*="pdtoptnm"],
[id*="orderForm:stdtlbl"],
[id*="orderForm:qtylbl"] {
  margin-right: .2em;
}*/

/* Dialog close icon hotfix */
.ui-dialog-titlebar-close {
    padding: 1px !important;
    margin: 1px !important;
}
.ui-dialog-titlebar-close.ui-state-hover {
  background-color: rgb(35, 153, 229);
  border: 0;
}

#orderForm\:addbskpg>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1) {
  padding: 3px 3px 7px;
}

/* ---------------------------------- */

/* --- Footer --- */
.rb-basket-title-pg {
  padding: 1em 0 1em;
}

.rb-basket-title-pg:before {
  content: "\f07a";
  margin-right: 10px;
  font-family: "FontAwesome" !important;
}

[id*="orderForm:bskpnl_footer"] {
  margin: 0 auto !important;
  padding: 0 1.2em !important;
  background-color: #f9f9f9;
  border-top: none;
  /* border-top-left-radius: : 900px !important;*/
}

/* Spacing above total */
#orderForm\:bskpnl_content {
  padding: 0 1em 0.5em !important;
}

/* Order Nav (Email etc) */
.rb-order-nav {
  padding: 1em;
  margin-top: 0 !important;
  font-weight: 300;
}

#orderForm\:email {
  margin-bottom: 0.5em;
}

/* Continue Shopping front screen*/
#orderForm\:contshop {
  margin-left: 16px;
}

/* Shopping Cart */
#orderForm\:itemdtbsk,
#orderForm\:itemdtchkout {
  border: 1px solid #ddd !important;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1) !important;
}

/* Basket padding */
#orderForm\:itemdtbsk_data tr.ui-widget-content>td:nth-child(1),
#orderForm\:itemdtchkout_data tr.ui-widget-content>td:nth-child(1) {
  padding-top: .5em !important;
}

@media screen and (max-width: 640px) {
	#orderForm\:itemdtbsk_data tr.ui-widget-content>td:nth-child(1),
	#orderForm\:itemdtchkout_data tr.ui-widget-content>td:nth-child(1) {
  		padding-top: 1em !important;
	}
	#orderForm\:itemdtbsk_data tr.ui-widget-content>td:nth-last-child(1),
	#orderForm\:itemdtchkout_data tr.ui-widget-content>td:nth-last-child(1) {
	padding-bottom: 1em !important;
}
}

/* Highlight basket item name */
#orderForm\:itemdtbsk_data tr.ui-widget-content>td:nth-child(1)>label,
#orderForm\:itemdtchkout_data tr.ui-widget-content>td:nth-child(1)>label,
#orderForm\:itemdtchkout_data tr.ui-widget-content>td:nth-child(1)>div.rb-skipass>label {
  background-color: #3399cc;
  -webkit-box-shadow: 2px -1 -1 #3399cc, -2px -1 -1 #3399cc;
          box-shadow: 2px -1 -1 #3399cc, -2px -1 -1 #3399cc;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  border-radius: 4px;
  width: 100%;
  padding: 0.1em 0.4em;
  color: #fff;
}

#orderForm\:itemdtbsk_data .ui-datagrid-column.ui-g-12.ui-md-12,
#orderForm\:itemdtchkout_data .ui-datagrid-column.ui-g-12.ui-md-12{
  padding: .25em
}

/* Basket width fix */
.rb-basket-dt > div > table > thead > tr > th:nth-child(n+1):nth-child(n+2) {
	width: auto !important;
}

/* --- Guest Form --- */
.rb-guest-nav {
  text-align: center !important;
  margin-top: 20px !important;
}

.rb-order-nav label {
  margin: 10px;
}

/* Proceed to checkout button */
#orderForm\:ngbut {
  margin-top: 16px;
}

/* Verification spacing */
#orderForm\:guestpg div.p-col-12:nth-child(3) {
  padding-top: 0;
}

/* Form Pos */
.rb-guest-form {
  margin: 0 auto;
}

/* Input spacing */
@media(max-width: 818px) {
  .rb-new-guest-form div.flex-container:nth-child(2) > div:nth-child(2),
  .rb-new-guest-form div.flex-container:nth-child(5) > div:nth-child(2),
  .rb-new-guest-form div.flex-container:nth-child(9) > div:nth-child(2),
  .rb-new-guest-form div.flex-container:nth-child(9) > div:nth-child(3),
  .rb-new-guest-form div.flex-container:nth-child(10) > div:nth-child(2) {
    margin-top: 10px;
  }
  /* Guest edit spacing */
  #guestDialogForm div.flex-container:nth-child(3) > div:nth-child(2),
  #guestDialogForm div.flex-container:nth-child(6) > div:nth-child(2),
  #guestDialogForm div.flex-container:nth-child(10) > div:nth-child(2),
  #guestDialogForm div.flex-container:nth-child(11) > div:nth-child(2) {
    margin-top: 10px;
  }

  .rb-new-guest-form {
    text-align: center;
    width: 100%;
    margin-left: -.5em;
    padding-left: 0;
  }
}
/* Negative offset buttons */
#guestDialogForm\:editguestdlg > div:nth-child(2) > div:nth-child(12) {
    margin-left: -10px;
  }

/* --- Order Form --- */
#orderForm\:chkoutpnl_content>div {
  padding-bottom: 1em;
}

/* Spacing */
#orderForm\:usermessage>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1) {
  padding-bottom: 6px;
}

/* Headers */
#orderForm\:assignglbl,
#orderForm\:contactinfolbl,
#orderForm\:addqlbl {
  font-size: 1.1em;
}

/* Hide want to save time */
#orderForm\:elguest>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1) {
  display: none;
}

/* Completed */
.rb-completed-nav {
  display: none;
}

/* Button Spacing Modal */
#guestDialogForm\:newguestdlg button,
#guestDialogForm\:saveguest,
#guestDialogForm\:canceleditguest,
#orderForm\:addbskdlg button {
  margin: 0 5px;
}

#guestDialogForm\:newguestdlg>div:nth-child(2)>div:nth-child(1),
#guestDialogForm\:editguestdlg>div:nth-child(2)>div:nth-child(1) {
  padding-top: 0 !important;
  padding-bottom: 1em
}

#guestDialogForm\:newguestdlg>div:nth-child(2)>div:nth-child(12),
#guestDialogForm\:editguestdlg>div:nth-child(2)>div:nth-child(12) {
  padding-top: 1.2em !important;
}

/* ----- Language and Currency Selector ---- */
#locform\:currencySelect,
#locform\:languageSelect {
  border: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: #fff;
}

#locform\:currencySelect_label,
#locform\:languageSelect_label {
  text-align: center;
  font-weight: bold;
}

#orderForm\:dispnl_content {
  text-align: right;
  padding-right: 0 !important;
}

/* Mobile */
@media(max-width:640px) {
  /* Growl position */
  .ui-growl {
    top: 20px;
    left: 10px;
    margin: 0 auto;
  }
}

/* Mobile Shopping Cart + Checkout */
@media(max-width:640px) {

  /* Hide "Lesson" */
  #orderForm\:itemdtbsk td:nth-child(1) .ui-column-title,
  #orderForm\:chkoutpnl td:nth-child(1) .ui-column-title,
  /* Hide Days */
  /* Removed price */
  /* #orderForm\:itemdtbsk td:nth-child(3), */
  /* #orderForm\:itemdtchkout_data > tr > td:nth-child(3), */
  /* Hide "Price" */
  #orderForm\:wzd.public #orderForm\:itemdtbsk td:nth-child(4) .ui-column-title,
  #orderForm\:wzd.public #orderForm\:chkoutpnl td:nth-child(4) .ui-column-title
  /* Hide Edit Column
  #orderForm\:itemdtbsk td:nth-child(5) .ui-column-title,
  #orderForm\:chkoutpnl td:nth-child(5) .ui-column-title */ {
    display: none;
  }
  
  /* Fix price missing & edit column */
  #orderForm\:wzd.public #orderForm\:itemdtbsk_data td:nth-last-child(-n+2) .ui-column-title,
  #orderForm\:wzd.public #orderForm\:itemdtchkout_data td:nth-last-child(-n+2) .ui-column-title {
  	display: none
  }
  

  /* Start Date Padding + Clear */
  #orderForm\:itemdtbsk td:nth-child(2) .ui-column-title,
  #orderForm\:chkoutpnl td:nth-child(2) .ui-column-title {
    margin: 0;
    padding: 0;
  }

  #orderForm\:itemdtbsk td:nth-child(2) label,
  #orderForm\:chkoutpnl td:nth-child(2) label {
    display: block;
  }

  /* Bold */
  #orderForm\:itemdtbsk td:nth-child(2) .ui-column-title,
  #orderForm\:chkoutpnl td:nth-child(2) .ui-column-title,
  /* Bold Price */
  #orderForm\:itemdtbsk td:nth-child(4),
  #orderForm\:chkoutpnl td:nth-child(4) {
    font-weight: bold;
  }
}

/* Price adjustment */
.cur.rb-prod-rack-value,
.cur.rb-item-rack-value  {
  color: rgba(255, 0, 0, 1);
  text-decoration: none !important;
  position: relative;
  /* font-size: 1em; */
  font-weight: 600;
}
.cur.rb-prod-rack-value:before,
.cur.rb-item-rack-value:before  {
  content: "";
  display: block;
  width: 100%;
  border-top: 2px solid rgba(255, 0, 0, 1);
  height: 45%;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: rotate(8deg);
      -ms-transform: rotate(8deg);
          transform: rotate(8deg);
}

/* Ajax loader sizing/background
.ui-dialog.ui-hidden-container.ui-widget {
background-color: #fff !important;
}*/
.ui-dialog:not(#ajaxLoader).ui-hidden-container > div.ui-dialog-content.ui-widget-content{
padding: 1em;
}

/* Go Back Button */
@media(min-width: 600px) {
	.rb-guest-nav {
	    float: left;
	    margin-left: 10px;
	    position: absolute;
	}
}
/* Vericode button */
#orderForm\:guestpg div.p-col-12:nth-child(3) {
	padding-top: .5em;
}

.rb-guest-basic-information > .flex-container > .flex-item:nth-child(2),
.rb-guest-basic-information > .flex-container > .flex-item:nth-child(2) {
	margin-top: .5em;
}

@media(max-width: 820px) {
	.rb-guest-form, .rb-new-guest-form, .rb-guest-panel, .ui-inputfield {
		text-align: center !important;
		font-family: 'Open Sans', sans-serif;
	}
	.flex-item > label {
	text-align: center;
	}
	.flex-option .ui-selectonemenu-label {
	padding-left: 14px;
	}
}

 .flex-item > .ui-selectonemenu {
    width: calc(200px - 24px);
}
 .flex-item {
 	width:200px;
 }

 .flex-item > input, .flex-item > .ui-calendar > input,
 .flex-item > .ui-inputtextarea {
     width: 200px;
 }
 
  #orderForm\:vercodepg > input {
      width: 200px;
  }
  .ui-inputtextarea-resizable {
  	resize: vertical;
  }
  
.rb-guest-for-emergencies .flex-item {
  	margin-top: .5em;
  }
  
/* Allocation positioning */
.rb-guest-sel-item {
	width: 180px;
}
@media(max-width: 760px) {
	.rb-guest-sel-item {
	margin-right: 10px;
	}
}
 span.rb-guest-sel-item{
	margin-right: 10px;
}
.fa-user-plus:before {
	padding-left: 8px;
}
[id*="guestsselpg"] {
  	margin-top: .6em !important;
  	padding-top: 0 !important;
}

/* Mobile Align for Email prompt / Next button */
@media(max-width: 820px) {
	#orderForm\:orderNav {
	float: none;
	text-align: center !important;
	padding-bottom: 0;
	}
	#orderForm\:orderNav > a {
	display: block
	}
	#orderForm\:orderNav > button {
	margin-left: 0 !important;
	margin-top: 12px;
	width: 100%;
	}
	#orderForm\:newguestpg .p-grid > .p-col-12,
	#orderForm\:guestpnl_content > .p-grid > .p-col-12 {
		padding-left: 0.25em;
	}
	#orderForm\:ngbut {
		margin-left: .75em;
	}
	/* Checkout Buttons */
	#orderForm\:sendinq, #orderForm\:booknow,
	#orderForm\:contshop, #orderForm\:booknowcond {
		width: 100%;
		position: relative;
		margin: 5px 5px 0 5px;
	}
	.rb-checkout-nav tr td {
		display: block;
	}
	/* Item listing */
	.rb-basket-panel .container .item span,
	#orderForm\:itemdtchkout .container .item span {
	width: 100% !important;
	display: block;
	}
	/* Bigger Icons */
	.fa-user-plus, .fa-edit, .fa-trash-o, .fa-times {
		font-size: 20px !important;
	}
}

/* Sign In - OR formatting */
.rb-or {
    overflow: hidden;
    text-align: center;
}
.rb-or:before,
.rb-or:after {
    background-color: #dddddd;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 15%;
}
.rb-or:before {
    right: 0.5em;
}
.rb-or:after {
    left: 0.5em;
}

/* Edge Fix */
#orderForm\:usrmsg,
.rb-checkout-nav,
.p-col-12 {
	width: calc(100% - 0.5em) !important;
}
.rb-checkout-total {
	margin-right: 1em !important;
}

/* For emergencies padding */
.rb-guest-for-emergencies {
	padding-top: 1em;
}

/* Limit Size Product / Dialog */
.ui-dialog:not(#ajaxLoader) {
	max-width: 100vw;
}
#orderForm\:pdtoptdt_content > table > tbody > tr td > .ui-widget {
	min-width: 0 !important;
	max-width: 250px !important;
}
#orderForm\:pdtoptdt_content label {
	text-overflow: ellipsis;
}

/* Mobile block form */
@media screen and (max-width: 480px) {
	#orderForm\:pdtoptdt td, .ui-calendar > input {
		display: block;
	}
	 .ui-calendar > input {
	 	margin-top: 3px;
	 }
	#orderForm\:pdtoptdt .ui-datagrid-column > table {
		margin: auto;
	}
}

/* Delete dialog */
.ui-dialog .ui-dialog-buttonpane {
	text-align: center !important;
}
/* Dialogue buttons */
#guestDialogForm\:editguestdlg > div.ui-dialog-content.ui-widget-content > div:nth-child(4) {
	padding: 20px 10px 10px !important;
}


/* #9384 use h:selectOneMenu and make look like p:selectOneMenu, extended */
.rb-h-selwrapper:before {
	content: "";
	display: inline-block;
	background-image: url(https://nisade.evoke.jp/javax.faces.resource/images/ui-icons_454545_256x240.png.jsf?ln=primefaces-omega);
	background-position: -64px -16px;
	height: 16px;
	margin-left: 190px;
	margin-top: 10px;
	pointer-events: none;
	position: absolute;
	width: 16px;
}
.rb-h-selwrapper {
	height: 32px !important;
}
.rb-h-selectonemenu {
	background-color: #fff;
	border: 1px solid #d6d6d6 !important;
	border-radius: 3px;
	color: #222;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	font-weight: normal;
	margin: 0;
	outline: medium none;
	overflow: hidden;
	padding: 4px 32px 4px 4px !important;
	-moz-appearance: none;
	-webkit-appearance: none;
	text-align: justify !important;
	text-align: center !important;
	-moz-text-align-last: center !important;
	text-align-last: center !important;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	white-space: nowrap;
	width: calc(100% + 10px);
}
.rb-h-selectonemenu:hover {
	background-image: -o-linear-gradient(right, #eee, #eee 24px, white 24px);
	background-image: linear-gradient(to left, #eee, #eee 24px, white 24px);
}
.rb-h-selectonemenu option {
	display: block;
	max-width: 180px;
	min-height: 1.2em;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	white-space: nowrap;
}
/* Input hover radius */
.ui-selectonemenu > label {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

/* More Prominent Disabled Fields */
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .50;
    filter: Alpha(Opacity=50);
    background-image: none;
}

/* Assign Group Checkout Dropdown*/
.rb-guest-sel-item {
	max-width: 180px;
}
#orderForm\:itemdtchkout .flex-item > .ui-selectonemenu {
    min-width: 148px !important;
    max-width: 148px !important;
}
.rb-guest-sel-item label {
	text-overflow: ellipsis;
	font-size: 14px;
}
[id*="orderForm\:itemdtchkout"] .ui-selectonemenu-items-wrapper {
	max-width: calc(80vw);
	margin: auto;
}
[id*="orderForm\:itemdtchkout"] .ui-selectonemenu-list-item,
#orderForm\:guestsdt_data > tr > td:nth-child(1) {
	display: block;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	white-space: pre-line !important;
}

/* Manual Passes */
.skipass-item {
	max-width: 400px;
	padding: .5em 5px 5px;
}
.skipass-item input {
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px !important;
}
@media(max-width: 480px) {
.skipass-item {
	max-width: 100% !important;
	width: 100% !important;
}
	.skipass-item input {
	font-size: 12px !important;
	width: 100% !important;
	}	
}

.legacy-pass {
	width: 100%;
	max-width: 100%;
}

.rb-warn-guest-booking-today-dt {
	font-weight: bold;
}

.align-login-title {
	text-align: center;
}

.rb-social-guest-panel{
	margin-bottom: 30px;
}




/* Order 02.5 */
.rb-vendor-container {
  padding-top: 6px;
  padding-bottom: 0 !important;
}

.flex-item.rb-vendor-item {
  width: 200px;
  max-width: 200px !important;
  padding: 10px !important;
}

.rb-vendor-item img, .rb-vendor-item > a, .rb-vendor-item .rb-cat-box, .rb-vendor-item .rb-cat-box > span {
  width: 200px !important;
}

.rb-vendor-container label, .rb-parent-cat-container label, .rb-child-cat-container label {
  font-size: 15px;
  line-height: 18px;
  display: block;
}

/*--------------------------/*
/* Flex Products */
.flex-products {
	display: flex;
    flex-direction: column;
}
.flex-products .flex-option,
#orderForm\:butpg {
	padding: 4px;
	display: flex;
	align-items: center;
	position: relative;
}
.flex-products .flex-option {
	word-break: break-all;
	word-break: break-word;
}
.flex-products .flex-option > label:first-of-type {
	width: 45%;
	box-sizing: border-box;
	min-width: unset !important;
	word-break: break-all;
	word-break: break-word;
}
.flex-products .flex-option > span,
.flex-products .flex-option > div,
.flex-products .flex-option > input.ui-inputtext {
    width: 55% !important;
    box-sizing: border-box;
    min-width: unset !important;
}
#orderForm\:stdtcal_input {
    width: 100%;
    box-sizing: border-box;
}
.flex-products .flex-option > label:nth-child(1) {
	margin: 0 .5em 0 0;
}
#orderForm\:grosslbl {
	margin: 0 4px 0 0;
}

#orderForm\:butpg {
	padding-top: 12px;
    justify-content: center;
}

@media screen and (min-width: 440px) {
	#orderForm\:addbskpg {
		min-width: 400px;
		max-width: 480px;
	}
}

@media screen and (max-width: 440px) {
.flex-products, .flex-option {
	text-align: center;
	}
	.flex-products .flex-option {
		flex-wrap: wrap;
		justify-content: center;
	}
	.flex-products .flex-option > label,
	.flex-products .flex-option > span,
	.flex-products .flex-option > div,
  	.flex-products .flex-option > input,
  	 .flex-products .flex-option > input.ui-inputtext {
		width: 100% !important;
		box-sizing: border-box;
		min-width: unset !important;
	}
	.flex-products .flex-option > label:nth-child(1) {
		margin: 0 0 .25em 0;
	} 
	/*#orderForm\:qty_label, #orderForm\:cbval_label {
		padding-left: 19px;
	}*/
	#orderForm\:rack {
		margin-right: 0;
		width: auto !important;
	}
}


/* Double cat width */
@media (max-width: 420px) {
  .rb-parent-cat-container,
.rb-child-cat-container {
    padding: 6px 0 0 !important;
  }

  .flex-item.rb-parent-cat-item,
.flex-item.rb-child-cat-item {
    padding: 10px !important;
  }

.rb-parent-cat-item,
.rb-child-cat-item,
.rb-parent-cat-item img,
.rb-child-cat-item img,
.rb-cat-box,
.rb-cat-box > a {
    width: 120px !important;
  }

.rb-parent-cat-item img,
.rb-child-cat-item img,
.rb-cat-box,
.rb-cat-box > a {
    height: 120px !important;
  }

.rb-cat-not-avail span {
    height: 120px !important;
    width: 120px !important;
}

  /* Double vendor */
  .flex-item.rb-vendor-item {
    width: 120px !important;
    height: auto;
    max-width: 120px !important;
    padding: 10px !important;
  }

  .rb-vendor-item img, .rb-vendor-item .rb-cat-box, .rb-vendor-item .rb-cat-box > span,
  #orderForm\:vndpnl > #orderForm\:vndpnl_content > .rb-vendor-container > .rb-vendor-item > div > .rb-cat-box > a {
    width: 120px !important;
    height: 90px !important;
  }
}

/* Increase mygroup, booking size */
.rb-my-group,
.rb-my-booking {
  font-size: 20px;
}

/* Eligibility */
.rb-el-select-country, .rb-el-select-post-code {
	font-size: 1.2em;
	font-weight: 700;
	color: #2399e5;
}

.rb-el-intro-pnl {
	text-align: center;
}

.rb-el-guest-pnl {
	text-align: center;
}

.rb-el-not-pnl {
	text-align: center;
}

/* Icon Updates */
.fa-edit, .fa-trash-o, .fa-user-plus, .rb-guest-sel-item .fa-times,
.ui-datatable-summaryrow [id*="newguestbut"] {
  font-size: 20px !important;
  width: 32px !important;
  padding: 5px;
  background-color: #ddd;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fa-edit {
  background: #00A0DF;
}
.fa-edit::before {
  position: relative;
  left: 1px;
}
/* Spacing */
a[id*=edit] {
  margin-left: 3px !important;
  margin-right: 3px !important;
}

span:not(.ui-state-disabled) > .fa-edit:hover,
a > .fa-edit:hover {
  background: #0095D9;
}

.fa-trash-o {
  background: #EC5840;
}
.fa-trash-o::before {
  position: relative;
  bottom: 1px;
}
span:not(.ui-state-disabled) > .fa-trash-o:hover,
a > .fa-trash-o:hover {
  background: #c94833;
}

.fa-user-plus {
  background: #4CAF50;
}
.fa-user-plus:before {
  position: relative;
  top: -1px;
  left: -5px;
  font-size: 18px;
}
span:not(.ui-state-disabled) > .fa-user-plus:hover,
a > .fa-user-plus:hover {
  background: #388E3C;
}

.rb-guest-sel-item .fa-times {
  background: #EC5840;
}
.rb-guest-sel-item .fa-times::before {
  position: relative;
  bottom: 1px;
}
.rb-guest-sel-item .fa-times:hover {
  background: #c94833;
}

/* Add new group member */
.ui-datatable-summaryrow [id*="newguestbut"] {
  display: block;
  width: 100% !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  text-decoration: none;
  max-width: 220px;
  margin: auto;
  background: #4CAF50;
}
.ui-datatable-summaryrow [id*="newguestbut"]:hover {
  background: #388E3C;
}

/* Assign group member */
.rb-guest-sel-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4px;
}
.rb-guest-sel-item {
  width: 24px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin: 4px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.rb-guest-sel-item:nth-child(1) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
}

#orderForm\:guestsdt_head > tr > th:nth-child(3) {
  width: auto !important;
}

/* Contact Information title */
#orderForm\:contactinfolbl {
  margin-bottom: 4px !important;
  margin-right: 4px !important;
}
/* === */

/* Req / Res Update */

.status-pill {
	border-radius: 9999px;
	--bg-opacity: 1;
	background-color: #dddddd;
	color: #777777;
	display: block;
	text-transform: uppercase;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 0.75rem;
    font-weight: 400;
    margin: .5rem auto;
    text-align: center;
    width: fit-content;
}

.upload-image-pill {
    background-color: #EC5840 !important;
    color: #ffffff !important;
}

.has-request-msg {
    color: #777;
    font-size: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: .5rem;
}

.has-request-msg-2 {
    color: #777;
    font-size: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: .5rem;
}

.manage-lift-pass-msg {
    color: #777;
    font-size: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: .5rem;
}

/* Checkout radio */
.extent-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}
.extent-container button {
	max-height: 34px;
}
#orderForm\:extent {
	min-width: 200px;
    text-align: left;
}
.extent-container > table {
	max-width: 640px;
	text-align: left;
}
.extent-container .ui-icon-bullet {
    background-position: -9999px !important;
}
.extentRadio {
	margin-right: .75em !important;
	margin-bottom: 6px !important
}
.extentDesc {
	color: #666666;
	font-size: 12px;
}
.extent-container .ui-radiobutton-box.ui-state-active, .extent-container .ui-radiobutton-box.ui-state-focus.ui-state-active {
	border: 1px solid #2399e5 !important;
	background: #2399e5 !important;
}

.nav-col {
	vertical-align: bottom;
}

@media screen and (max-width: 821px) {
	.extent-container {
    	margin-top: 1em;
    }
	#orderForm\:extent {
		width: 100%;
	}
	#orderForm\:addorder {
		width: 100%;
		margin-top: 1em;
	}
  	.internal .rb-basket-dt .ui-column-title {
		margin-right: 0 !important;
	}
	.internal .rb-basket-dt td:last-of-type .ui-column-title {
   		display: none !important;
	}
}

/* Hide Photo Upload */
#guestDialogForm\:guestImgWrapperedit,
#guestDialogForm\:guestImgContaineradd,
#guestDialogForm\:shouldAllowAnotherUploadContaineredit {
	display: none;
}

/* #13901 */
.rb-widget-ff8081816b21b404016b21b79f360003 #guestDialogForm\:guestImgWrapperedit,
.rb-widget-ff8081816b21b404016b21b79f360003 #guestDialogForm\:guestImgContaineradd,
.rb-widget-ff8081816b21b404016b21b79f360003 #guestDialogForm\:shouldAllowAnotherUploadContaineredit {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

/*** Photo Upload Styles ***/
/* Upload button*/
.choose-another {
    height: 25px !important;
    width: 25px !important;
    font-size: 16px !important;
    padding-bottom: 1px !important;
    padding-right: 1px !important;
    border: 1px solid #EC5840 !important;
   	background-color: #EC5840 !important;
}
.choose-another > span {
	padding: 0 !important;
}
.ui-fileupload-choose {
	width: calc(100% - 2px) !important;
	border: 1px solid #388E3C !important;
	background-color: #03AC13 !important;
}
.ui-fileupload-files {
	width: 100% !important;
	overflow: hidden !important;
    margin: 0 !important;
}
.ui-fileupload-row {
	display: flex !important;
	flex-wrap: wrap;
	align-items: center;
	padding: 8px 0 !important;
}
.ui-fileupload-row > div:nth-child(2) {
	max-width: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ui-fileupload-content {
	padding: 0 !important;
}
.ui-fileupload-buttonbar {
	padding: 0 !important;
	border: 0 !important;
}
.ui-fileupload-buttonbar .ui-button {
	margin-top: .2em !important;
}
.ui-fileupload-progress {
	vertical-align: center !important;
    padding-top: 0 !important;
    padding-right: 0 !important;
}
.ui-progressbar {
	top: 0 !important;
}
.ui-fileupload-content .ui-progressbar {
	width: 120px !important;
}

.ui-progressbar-value.ui-widget-header {
	border: 1px solid #ddd !important;
	background-color: #03AC13 !important;
}
.ui-fileupload-cancel {
	border: 1px solid #EC5840 !important;
	background-color: #EC5840 !important;
	height: 20px !important;
	width: 20px !important;
	margin-top: 6px !important;
}

@media screen and (max-width: 40em) {
	.ui-fileupload-buttonbar .ui-button {
	    padding: 0 !important;
	}
	.ui-fileupload-buttonbar .ui-button .ui-button-text {
    	display: block !important;
	}
	.photo-upload {
		margin-top: 8px !important;
		margin-bottom: -8px !important;
	}
}

.photo-requirement {
	font-size: 12px !important;
	display: block;
    color: #666;
    margin-right: 6px;
    line-height: 16px;
}
.photo-upload {
	position: relative;
}

/* Modal updates */
.ui-dialog-titlebar.ui-widget-header {
    display: flex;
}
.ui-dialog-title {
    flex-grow: 1;
    line-height: 1em;
    max-height: 42px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

/* Modal close */
.ui-dialog-titlebar-icon.ui-dialog-titlebar-close {
    display: block !important;
    width: 17px;
    height: 17px;
    background-color: rgba(0,0,0,0.4) !important;
    border-width: 0 !important;
}
.ui-dialog-titlebar-icon.ui-dialog-titlebar-close.ui-state-hover {
    background-color: rgba(0,0,0,0.6) !important;
}
.ui-icon.ui-icon-closethick {
    -webkit-filter: invert(100%) brightness(100) !important;
    filter: invert(100%) brightness(100) !important;
}

ul[id*="country"] {
    max-width: -webkit-calc(100vw - 2em);
    max-width: calc(100vw - 2em);
}
ul[id*="country"] li {
    overflow: hidden;
    word-break: break-word;
    white-space: initial;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.rb-privacy-policy-dialog {
	font-size: 0.8em;
	max-width: 580px !important;
	bottom: 0px !important;
	top: unset !important;
}

.rb-date-confirm-price-msg {
	color: red;
    font-size: 0.8em;
}

.rb-guest-sel-item-required{
   color:red;
}
#orderForm\:itemdtchkout_data .rb-guest-sel-item-required  div:first-child {
    border: 4px solid red;
}

.rb-guest-sel-item-required-label{
    font-size: 1em;
    width:100%;
}

/* #13900 */
.rb-cond-bp-dialog, .rb-cond-req-dialog {
    max-width: calc(1200px - 1em) !important;
    max-height: calc(100vh - 1em) !important;
}

/* Additional vertical buffer mobile */
@media screen and (max-width: 768px) {
    #orderForm {
        padding-bottom: 60px;
    }
}

/* Vendor Cats */
.vc-chip-container {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1.5rem 1rem .75rem;
}
.vc-chip-container .ui-button.ui-widget.chip {
    border-radius: 0.25em;
    cursor: pointer;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px !important;
    padding: 0.25rem 0.5rem;
    text-align: center;
}
.vc-chip-container .chip > .ui-button-text {
    font-weight: 500 !important;
}
.vc-chip-container .ui-button.ui-widget.chip:not(.selected) {
    background: transparent !important;
    border: 1px solid #aaa !important;
    color: #aaa !important;
}
.vc-chip-container .ui-button.ui-widget.chip:hover:not(.selected) {
    background: rgba(0,0,0,.1) !important;
}

/* Guest prompt layout */
.guest-prompt {
    width: 100%;
    max-width: 600px;
    margin: auto;
}
@media screen and (max-width: 920px) {
    .guest-prompt {
        max-width: 360px;
    }
}


